In [3]:
import pandas as pd
import numpy as np

In [4]:
dict = {
    "Cricket" :[1,6,np.nan,4,3],
    "Football":[4,2,np.nan,5,np.nan],
    "Baseball":[2,4,5,7,1]
}
df= pd.DataFrame(dict)
df

   Cricket  Football  Baseball
0      1.0       4.0         2
1      6.0       2.0         4
2      NaN       NaN         5
3      4.0       5.0         7
4      3.0       NaN         1