# 1

# Create Series

In [1]:
import pandas as pd

In [3]:
import numpy as np
# Create a series by passing values
s1 = pd.Series([1,3,5,np.nan,6])
s1

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
dtype: float64

In [9]:
# using list
l1 = [3,6,5,3,2]
s1 = pd.Series(data=l1)
s1

0    3
1    6
2    5
3    3
4    2
dtype: int64

In [11]:
labels = ['a','b','c','d','e']
s1 = pd.Series(data = l1, index=labels)
s1

a    3
b    6
c    5
d    3
e    2
dtype: int64

In [20]:
l2 = np.random.randint(1,10,5)
print(l2)
s2 = pd.Series(data=l2,index=labels)
s2

[7 7 4 9 5]

a    7
b    7
c    4
d    9
e    5
dtype: int32

In [22]:
s3 = pd.Series(l2,labels)
s3

a    7
b    7
c    4
d    9
e    5
dtype: int32

In [23]:
#from  dictionary
dict = {"a":20,"b":[20,30,10],'c':60,"d":[60,10]}
s1 = pd.Series(dict)
s1

a              20
b    [20, 30, 10]
c              60
d        [60, 10]
dtype: object

# create dataframe

In [24]:
#from  dictionary
dict = {"a":20,"b":[20,30,10],'c':60,"d":[60,10]}
d1 = pd.DataFrame(dict)
d1

ValueError: All arrays must be of the same length

In [6]:
# create dates
dates = pd.date_range("20230101",periods=6)
type(dates) # pandas.core.indexes.datetimes.DatetimeIndex
dates

pandas.core.indexes.datetimes.DatetimeIndex

In [7]:
# create a dataframe
df = pd.DataFrame(np.random.randn(6,4), index=dates ,columns=list("ABCD"))
df

                   A         B         C         D
2023-01-01  1.232493  1.167112 -0.849640  0.266489
2023-01-02  0.384692 -0.947319 -1.257223 -0.138894
2023-01-03 -0.100594  1.059219  1.223965 -0.537251
2023-01-04  0.232759  0.269414  1.206900 -0.369599
2023-01-05 -0.714464 -0.254378 -1.309981 -0.685332
2023-01-06  0.105820 -1.261711 -0.696906  0.134215

In [8]:
df1 = pd.DataFrame(np.random.randn(7,4))
# randn create normalize data (float data)
df1

          0         1         2         3
0 -0.894191  0.357680  1.895901 -2.013797
1 -2.033813 -0.052746  0.059037 -0.222554
2  0.797150  0.517611  0.023458  1.149230
3  0.718507 -0.804501 -0.872669  0.026842
4  0.658797  0.089187 -0.389781 -1.522575
5  2.743407  0.068856 -1.600753 -1.924280
6  1.444606  0.929239 -0.664271 -0.490204